body {
	background-color: teal;
}

h1 {
	color: aliceblue;
}

ul {
	list-style: none;
	padding-left: unset;
}

.word-entry {
	background-color: papayawhip;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 1rem;
	padding: 1rem;
	border: 4px solid tomato;
	border-radius: 15px;
}

.word-entry button {
	width: min-content;
	height: min-content;
	margin: auto;
}

.word-entry h3 {
	margin: auto;
}